<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frankgh.popularmovies">

    <!-- This permission is necessary in order for PopularMovies to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.MovieDetailActivity"
            android:label="@string/title_activity_movie_detail"
            android:parentActivityName=".app.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.frankgh.popularmovies.app.MainActivity" />
        </activity>

        <provider
            android:name=".data.MoviesProvider"
            android:authorities="com.frankgh.popularmovies.app" />
    </application>

</manifest>
